
// Variables

//$red: #DB4A4A;
$red: #F44336;

// Mixins

// Styles

.toolbar {
    background: $red;
    .left {
        margin-left: 15px;
    }
    .toolbar__title {
        color: #FFEBEE;
    }
}

.ion-navicon-round {
    color: white;
}

.list-item {
    
    .list-item__left {
        padding-top: 3px;
        padding-bottom: 3px;
        .list-item__thumbnail {
            height: 10vh;
            width: auto;
            border-radius: 3px;
        }
    }
    .list-item__center {
        
    }
}

// Portrait screen layout
@media all and (orientation:portrait) {
    #banner {
        background:#333;
        height: 33%;
        width: 100vw;
        background: url('./media/logo.svg');
        background-size: 100% 100%;
        color: white;
        text-align: center;
        .zmdi-spinner {
            position: relative;
            top: 25%;
            transform: translateY(-50%); 
        }
    }

    #main-bottom {
        background: $red;
        height: 62.5%;
        width: 100vw;
        -webkit-box-shadow: -2px -2px 30px 2px rgba(23,23,23,1);
        -moz-box-shadow: -2px -2px 30px 2px rgba(23,23,23,1);
        box-shadow: -2px -2px 30px 2px rgba(23,23,23,1);
        .center {
            text-align: center;
            padding-top: 6vw;
            .search-input {
                margin: 0 auto;
                height: 40px;
            }
        }
        
        #main-menu {
            padding-top: 6vh;
            ons-row {
                margin-bottom: 20px;
                ons-col ons-button {
                    width: 18vw;
                    height: 18vw;
                    border-radius: 9vw;
                    background: #FFEBEE;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

// Landscape screelayout
@media all and (orientation:landscape) {
    
}


