
// Variables

$red: #DB4A4A;

// Mixins

// Styles

.toolbar {
    background: $red;
    .left {
        margin-left: 15px;
    }
    .toolbar__title {
        color: white;
    }
}

.ion-navicon {
    
    color: white;
}

// Portrait screen layout
@media all and (orientation:portrait) {
    #banner {
        background:#333;
        height: 35%;
        width: 100vw;
        background: url('./media/logo.svg');
        background-size: 100% 100%;
    }

    #main-bottom {
        background: $red;
        height: 65%;
        width: 100vw;
        -webkit-box-shadow: -2px -2px 30px 2px rgba(23,23,23,1);
        -moz-box-shadow: -2px -2px 30px 2px rgba(23,23,23,1);
        box-shadow: -2px -2px 30px 2px rgba(23,23,23,1);
        #main-menu {
            padding-top: 10vh;
            ons-row {
                margin-bottom: 20px;
                ons-col ons-button {
                    width: 15vw;
                    height: 15vw;
                    border-radius: 7.5vw;
                    background: white;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

// Landscape screelayout
@media all and (orientation:landscape) {
    
}


